[project]
	description = React + Babel + Webpack starter kit, for building simple static sites with React. Deploys to surge.sh.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lzp401
[access "refs/for/refs/*"]
	read = group user/lzp401
	push = group user/lzp401
	label-Code-Review = -2..+2 group user/lzp401
	label-Verified = -1..+1 group user/lzp401
	rebase = group user/lzp401
	removeReviewer = group user/lzp401
	submit = group user/lzp401
[access "refs/heads/*"]
	read = group user/lzp401
	create = group user/lzp401
	push = +force group user/lzp401
	pushMerge = group user/lzp401
[access "refs/tags/*"]
	push = +force group user/lzp401
	pushTag = group user/lzp401
	pushSignedTag = group user/lzp401
